{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block hero %}{% endblock %}
{% block content %}
<div class="row" style="justify-content:center;">
    <div class="container" style="max-width:450px;">
        <div class="card">
            <div class="card-header" style="background:#42474c;color:#fff;">
                <h4>Iniciar Sesión</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <ul class="errorlist">{{ field.errors }}</ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="mt-3">
                        <button type="submit" class="button button-primary w-100">Ingresar</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <a href="{% url 'inicio' %}" class="text-muted">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
